     @tailwind base;
    @tailwind components;
    @tailwind utilities;
    :root {
      overflow: hidden;
      
  }
  .css1{
    text-align: center;
    align-items: center;
    padding-top: 3;
  }
  .css2{
    flex: auto;
    border:green;
    border-style: double;
    width: 50%;
    height: 350px;
    padding-right: 10%;
    margin-left: 15%;
  }
  .us1{
    text-align: center;
    margin: 2%;
  }
  .bouton{
    color:white;
    background-color: aquamarine;
    width: 20%;
    margin-left: 25%;
  }
  .log1{
    text-align: center;
    align-items: center;
    padding-top: 2%;
  }
  .log2{
    flex: auto;
    border:green;
    border-style: double;
    width: 30%;
    height: 200px;
    padding-right: 1%;
    margin-left: 30%;
    padding-top: 2%;
  }
  .log{
    flex-wrap: wrap;
    padding: 2%;
  }
  .bouton1{
    text-decoration-color: aqua;
    margin-top: 10%;
  }
  .chat{
    text-align: center;
    align-items: center;
    padding-top: 3;
  }
  .chat1{
    columns: 3;
    border-style: dotted;
    background-color: aquamarine;
  }
  .chat2{
    margin-top: 20%;
    height: 300%;
    border-style: ridge;

    height: 200%;
  }
  .chat3{
    padding-top: 2%;
  }